#header .logo{
	left: 23px;
}
/* nav */
.main-nav{
	padding-right: 23px;
}
#nav{
	font-size: 16px;
}
#nav a{
	padding: 0 24px;
}
/* nav end */
/* visual */
.updates-block:before{
	background-position: 50% 0;
}
.updates-table{
	width: 704px;
}
.updates-table td{
	width: 1%;
}
/* visual end */
/* feed-blocks */
.feed-blocks .wrap{
	padding-left: 0;
	padding-right: 0;
}
.feed-blocks .a-item{
	width: 18%;
	margin: 0 0 10px 2.5%;
}
/* feed-blocks end */
/* page about */
#main{
	padding-left: 23px;
}
#content{
	width: 870px;
}
.main-content .featured-image{
	margin: 0 0 45px;
}

/* page about end */
/* page contact */

.contact-column{
	width: 572px;
}
.contact-column .col{
	float: left;
	width: 310px;
	margin: 0 0 24px 10px;
}
.contact-column .col:first-child{
	margin-left: 0;
	width: 250px;
}
.contact-column dl{
	padding: 5px 0 30px;
}
/* page contact */
/* page news detail */
.news-items{
	margin: 0 -41px;
}
.news-area .b-item{
	padding: 0 41px;
}
/* page news detail end */
/* page services */
.services-list .row{
	margin: 0 -16px;
}
.services-list .s-item{
	margin: 0 -3px 0 0;
	padding: 0 16px 34px;
}
/* page services end */
/* page team */
.team-description{
	margin: 0 27px 38px;
}
.team-list{
	margin: 0 10px;
}
.team-list .row{
	margin: 0 -24px;
}
.team-list .t-item{
	height: 352px;
}
.team-list [class^="col-"]{
	padding: 0 24px 48px;
}
.t-item.quote .dtc{
	padding: 10px 30px 30px;
}
/* page team end */